html, body {
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 30px;
}

.section {
  height: 100%;
  width: 100%;
}

.inner {
  height: 100%;
  &__content {
    height: 100%;
    width: 100%;

  }
}

.home {
  background: #fff;
  width: 100%;
  color: #000;
  .inner {
    display: table;
    width: 100%;
    &__content {
      display: table-cell;
      width: 100%;
      vertical-align: middle;
      text-transform: uppercase;
      font-size: 6vw;

    }

  }

}

.work {
  background: #eae5e4;
  .inner__content {
    position: relative;
    width: 100%;
    .bx-wrapper {
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

    }
  }
  &__item {
    font-size: 0;

    padding: 0 100px;
  }
  &__text {
    width: 50%;
    color: #4062a0;
    display: inline-block;
    vertical-align: middle;
    padding-left: 90px;
  }
  &__img {
    vertical-align: middle;
    width: 50%;
    display: inline-block;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  &__tit {
    font-size: 36px;
    font-weight: normal;
  }
  &__txt {
    font-size: 18px;
    line-height: 30px;
    margin-top: 25px;
  }
  &__info {
    font-size: 17px;
    font-weight: bold;
    margin-top: 25px;
    line-height: 28px;
  }
  &__pager {
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -80%);
    li {
      display: inline-block;
      position: relative;
      & + li {
        &:before {
          content: "|";
          position: absolute;
          left: -4px;
          color: #969aa1;
        }
      }
    }
    a {
      color: #4062a0;
      margin: 0 5px;
      &.active {
        font-weight: bold;
      }
    }
  }
  &__btn {
    font-size: 14px;
    margin-top: 50px;
    display: inline-block;
    position: relative;
    width: 100px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    color: #4062a0;
    &:hover {
      background: #4062a0;
      transition: all 0.6s ease;
      color: #fff;
    }
    &:after, &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border: 2px solid;
      transition: all 0.6s ease;
      border-radius: 2px;
    }

    &:after {
      bottom: 0;
      right: 0;
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: #4062a0;
      border-right-color: #4062a0;
    }
    &:before {
      top: 0;
      left: 0;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: #4062a0;
      border-left-color: #4062a0;
    }
    &:hover:after, &:hover:before {
      width: 20%;
      height: 20%;
    }

  }
  .bx-controls {
    position: absolute;
    top: 50%;
    margin-top: -21px;
    width: 100%;

  }
  .bx-controls-direction a {
    display: inline-block;
    width: 23px;
    height: 42px;
    vertical-align: top;
    font-size: 0;
  }
  .bx-prev {
    background: url("../images/main/arrow_left.png");
    position: absolute;
    left: 45px;

  }
  .bx-next {
    background: url("../images/main/arrow_right.png");
    position: absolute;
    right: 45px;

  }
}

.about {
  background: #90c3c3;

  .inner {
    display: table;
    width: 100%;
  }
  .inner__content {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
  }
  .about__tit {
    font-size: 80px;
    color: #fffaa4;
  }
  .about__sub {
    font-size: 32px;
    line-height: 38px;
    color: #fffaa4;
  }
  .about__txt {
    font-size: 22px;
    line-height: 38px;
    color: #fffaa4;
  }
}
.skill {
  background: #eae5e4;
  .inner__content {
    display: table;
    width: 100%;
  }
  &__list {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;

    ul {
      text-align: center;
      width: 100%;

      &.slideDown {
        animation-name: slideDown;
        -webkit-animation-name: slideDown;

        animation-duration: 1s;
        -webkit-animation-duration: 1s;

        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;

        visibility: visible !important;

      }

    }
    li {
      display: inline-block;
      margin: 40px;


    }
  }
}
@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
  }
  50%{
    transform: translateY(8%);
  }
  65%{
    transform: translateY(-4%);
  }
  80%{
    transform: translateY(4%);
  }
  95%{
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideInRight {

  100% {
    transform: translateX(1979.83px);
  }
}
.contact {
  background: #6a7bc8;
  .inner__content {
  }
  .inner {
    width: 100%;
  }
  .inner__content {
    font-size: 24px;
    position: relative;

    padding: 0 20px;
  }
  &__img {
    display: inline-block;
    position: absolute;
    bottom:-7px;
    left:50%;
    transform: translateX(-50%);
    img {
      max-width: 100%;
      width: 500px;
      min-width:350px

    }
  }
  &__text {
    display: inline-block;
    color: #ff8ea9;
  }
  &__tit {
    font-size: 50px;
    font-weight: 800;
    position: absolute;
    top:32%;
    left: 54%;
  }
  &__name {
    font-size: 130px;
    font-weight: 800;
    position: absolute;
    left: 63.3%;
    top:37%;
    &.-last {
      top:50%;
      left: 66.7%;
    }
  }
  &__mail {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }

}

@media screen and (max-width: 1024px) {
  .work {
    .bx-controls {
      display: none;
    }
    &__img {
      width: 100%;
    }
    &__text {
      width: 100%;
      padding: 0;
    }
    &__pager {
      font-size: 0;
      text-align: center;
      li {
        display: inline-block;
      }
      a {
        border: 2px solid #4062a0;
        display: inline-block;
        width: 15px;
        height: 15px;

        border-radius: 25px;
        &.active {
          background: #4062a0;
        }
      }
    }
    &__item {

      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 640px) {
  .m_br {
    display: none;
  }
  .about__skill {
    font-size: 0;
    li {
      width: 50%;
      margin: 30px 0;
      text-align: center;
      img {
        width: 40%;
      }
    }
  }
  .inner {
    padding: 20px;
  }
  .home {
    .inner__content {
      vertical-align: top;
      padding-top: 30%;
    }
    .inner__tit {
      font-size: 80px;
    }
    .inner__sub {
      font-size: 40px;
    }
  }
  .contact {
    &__text {
      position: absolute;
      top:20%
    }
    &__tit,&__name,&__mail {
      position: initial;
    }
    &__name {
      font-size: 70px;
    }
  }
}


#loading{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 300;
  font-size: 46px;
  text-align: center;
  background: #fff;
  display: none;
  &:after {
    content:"";
    display:inline-block;
    height:100%;
    width:0;
    vertical-align: middle;
    font-size:0;
  }

}

.text-js{
  opacity: 0;
}
.cursor{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}
@keyframes flash{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}