.header {
  position: fixed;
  top: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  left: 0;
  align-items: center;
  z-index: 10;
  &__logo {
    position: relative;
    left: 80px;
    a {
      width: 70px;
      display: inline-block;
      color: #000;
      svg {
        fill: currentColor;
      }
    }

  }
  &__menu {
    position: fixed;
    width: 100%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    &-item {
      color: #000;
      font-size: 24px;
      display: inline-block;
      margin: 0 20px;
      position: relative;
      &.active {
        font-size: 28px;
        font-weight: bold;

      }
    }
    &Hide {
      width: 100%;
      height: 100%;
      background: #000;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 10;
      text-align: left;
      display: none;
      &Close {
        font-size: 24px;
        color: #fff;
      }
      &Item {
        font-size: 80px;
        filter: blur(0);
        opacity: 1;
        transition: filter .15s ease-out ,opacity .15ms;
        &:hover {
          animation-name: floating;
          animation-duration: 1.5s;
          animation-iteration-count:infinite;
        }

        &.blur {
          filter: blur(5px);
          opacity: 0.35;
          transition: filter .35s ease-in, opacity .35ms;


        }
        @keyframes floating {
          0% {
            transform: translateY(0%);
          }
          50% {
            transform: translateY(10%);
          }
          100% {
            transform: translateY(0%);
          }
        }



        a {
          color: #fff;
          display: inline-block;
          padding: 20px;
        }
      }
    }
    &All {
      display: none;
    }
  }
  &__icon {
    position: relative;
    right: 80px;
    cursor: pointer;
    .line {
      display: block;
      width: 32px;
      height: 3px;
      background: #000;
      margin: 5px 0;

    }
  }
  &.step02 {
    .header__menu-item,
    .header__logo a {
      color: #4062a0;
    }
    .header__icon .line {
      background: #4062a0;
    }
  }
  &.step03 {
    .header__menu-item,
    .header__logo a {
      color: #fffaa4;
    }
    .header__icon .line {
      background: #fffaa4;
    }
  }
  &.step04 {
    .header__menu-item,
    .header__logo a {
      color: #4cd3bb;
    }
    .header__icon .line {
      background: #4cd3bb;
    }
  }
  &.step05 {
    .header__menu-item,
    .header__logo a {
      color: #ff8ea9;
    }
    .header__icon .line {
      background: #ff8ea9;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    &__menu {
      display: none;
    }

  }
}


.text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  list-style: none;
  border-bottom: 0;
}

.text.hidden {
  border-bottom: 1px solid #fff;
}

.text li {
  display: inline-block;
  float: left;
  font-weight: 700;
  font-size: 2em;
  color: #fff;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  max-width: 2em;
}
.text.hidden li.spaced {
  padding-left: 0;
}
.text li.spaced {
  padding-left: 0.5em;
}

.text.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}
