<header class="header">
  <h1 class="header__logo">
    <a href="#this"><svg id="header__logo__svg" data-name="header__logo__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 217.31 168.38"><title>무제-2</title><path d="M872.28,502.05l35.23-42.12a12.87,12.87,0,0,1,5.57-3.81,7.15,7.15,0,0,1,6.28.62,8.5,8.5,0,0,1,3.19,3.1,7.54,7.54,0,0,1,1.06,3.8,10.85,10.85,0,0,1-.79,4,12,12,0,0,1-2.22,3.63l-21.94,26.38c-.95,1.18-1.36,2-1.24,2.47a8.27,8.27,0,0,0,1.06,2.13L928,544.35a10.91,10.91,0,0,1,1.59,6.28,7.23,7.23,0,0,1-3.36,6.29,7.58,7.58,0,0,1-6.91,1.15,10.63,10.63,0,0,1-5.48-3.81L886.8,515.32q-1.42-2.12-3-.35l-9,11a11.58,11.58,0,0,0-2,3.37,10.1,10.1,0,0,0-.53,3.18v17a10,10,0,0,1-2,6.55c-1.36,1.66-3.57,2.48-6.64,2.48q-5,0-6.81-2.74a10.93,10.93,0,0,1-1.86-6.29V471.61a10.7,10.7,0,0,1-3-3.28,8.14,8.14,0,0,1-1.24-4.33,8.33,8.33,0,0,1,8.67-8.5A11.31,11.31,0,0,1,868,459a17.05,17.05,0,0,1,4.33,8.05Z" transform="translate(-850.69 -455.5)"></path><path d="M986.89,572.35a54.92,54.92,0,0,1-4.4,22.72,46.73,46.73,0,0,1-11.6,16.12,48,48,0,0,1-16.61,9.52,60.18,60.18,0,0,1-19.41,3.17,52,52,0,0,1-18.56-3.41,56.46,56.46,0,0,1-16.25-9.41,47.3,47.3,0,0,1-17-33.33,16.13,16.13,0,0,1,1.71-9.41q2.19-4,7.81-4.76a11.47,11.47,0,0,1,5.87.49,12.38,12.38,0,0,1,4.15,2.68,13,13,0,0,1,2.68,3.91,15.13,15.13,0,0,1,1.23,4.4A32.24,32.24,0,0,0,915,593.23q7,7.46,19.91,7.45,8.05,0,13.43-2.81a22.89,22.89,0,0,0,8.67-7.81,32.85,32.85,0,0,0,4.64-11.6A71.4,71.4,0,0,0,963,564.29V504a14.84,14.84,0,0,1-4.15-4.52,11.31,11.31,0,0,1-1.71-6,11.76,11.76,0,0,1,3.18-8.31,11.07,11.07,0,0,1,8.54-3.42q7.58,0,12,4.77a26.16,26.16,0,0,1,6.11,11.11Z" transform="translate(-850.69 -455.5)"></path><path d="M1051.74,496.19a8.16,8.16,0,0,1-2.6-3.09,8.65,8.65,0,0,1-1-3.91,7.68,7.68,0,0,1,2.19-5.52,7.44,7.44,0,0,1,5.61-2.28,10.34,10.34,0,0,1,8,3.17A17.41,17.41,0,0,1,1068,492v76.41a8.33,8.33,0,0,1-.89,4.15,6.15,6.15,0,0,1-2.12,2.27,7.67,7.67,0,0,1-2.6,1,14.81,14.81,0,0,1-2.52.24,15.6,15.6,0,0,1-2.68-.24,6.21,6.21,0,0,1-2.6-1.14,7.1,7.1,0,0,1-2-2.36,7.9,7.9,0,0,1-.82-3.9v-29.1c0-1.52-.3-2.49-.89-2.93a3.67,3.67,0,0,0-2.2-.65h-30.07c-1.63,0-2.58.52-2.85,1.55a12.06,12.06,0,0,0-.41,1.87v29.26a8.17,8.17,0,0,1-.89,4.23,6.91,6.91,0,0,1-2.19,2.27,6.42,6.42,0,0,1-2.69,1,20.09,20.09,0,0,1-2.35.16,16.61,16.61,0,0,1-2.85-.24,7.67,7.67,0,0,1-2.6-1,5.12,5.12,0,0,1-2-2.27,9.77,9.77,0,0,1-.73-4.15V496.19a10.45,10.45,0,0,1-2.6-3.09,7.67,7.67,0,0,1,6.82-11.71,10.39,10.39,0,0,1,7.89,3.17,16.94,16.94,0,0,1,4.14,7.4v25a4.33,4.33,0,0,0,.74,2.52c.48.7,1.54,1.05,3.17,1.05h29.42a2.37,2.37,0,0,0,2.6-1.7,12.2,12.2,0,0,0,.49-2Z" transform="translate(-850.69 -455.5)"></path></svg></a>
  </h1>
  <nav class="header__menu active" id="header__menu">
    <a href="#step01" class="header__menu-item">HOME</a>
    <a href="#step02" class="header__menu-item">WORK</a>
    <a href="#step03" class="header__menu-item">ABOUT</a>
    <a href="#step04" class="header__menu-item">SKILL</a>
    <a href="#step05" class="header__menu-item">CONTACT</a>
  </nav>
  <div class="header__icon" onclick="allMenu();">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
  <div class="header__menuHide">
    <ul class="header__menuHideList">
      <li class="header__menuHideItem"><a href="#step01" onclick="allMenuClose();">HOME</a></li>
      <li class="header__menuHideItem"><a href="#step02" onclick="allMenuClose();">WORK</a></li>
      <li class="header__menuHideItem"><a href="#step03" onclick="allMenuClose();">ABOUT</a></li>
      <li class="header__menuHideItem"><a href="#step04" onclick="allMenuClose();">SKILL</a></li>
      <li class="header__menuHideItem"><a href="#step05" onclick="allMenuClose();">CONTACT</a></li>
    </ul>

    <a href="#this" class="header__menuHideClose" onclick="allMenuClose();">닫기</a>
  </div>
</header>

